.like {
    display: flex;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.like svg {
    fill: #ffffff;
}

.like svg path:first-child {
    fill: #7b8e98;
}

.like_is-active svg {
    fill: #f44336;
}

.like_is-active svg path:first-child {
    fill: #f44336;
}